<div class="bg-light p-4">

  <h1 class="display-4 pb-3"><%= @friend.first_name %> <%= @friend.last_name %></h1>

  <p class="pb-2">
    <strong>Email:</strong>
    <%= @friend.email %>
  </p>

  <p class="pb-2">
    <strong>Phone:</strong>
    <%= @friend.phone %>
  </p>

  <p class="pb-2">
    <strong>Twitter:</strong>
    <%= @friend.twitter %>
  </p>

<%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-dark" %>
<%= link_to 'Back', friends_path, class:"btn btn-outline-dark" %>

</div>